.inline {
	display: inline;
}

.clickable {
	cursor: pointer;
}

.pagination {
	margin: 0;
}

#waitmsg {
	display: none;
}

#words_table {
	display: none;
}

#noresult {
	display: none;
}

#search_settings {
	display: none;
}

.search_language {
	margin-right: 20px;
}